<div class="ng-scope wrapper container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
    <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
    <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="queryString" placeholder="Search for... eg: SJSU school, sports community" aria-label="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="search()"><a href="/graph/community/SJSU/sports,music">Go</a></button>
              </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-5">&nbsp</div>
        <div class="col-md-7">
            <button class="btn btn-primary" type="button" ng-click="visualize()">Visualize</button>
        </div>
    </div>
    <style>
        #firstGraph {
            width: 800px;
            height: 800px;
            background-color: #FFFFFF;
        }
    </style>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div id="eventSpan"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="w3-panel w3-card">
                    <div id="firstGraph"></div>
                </div>
            </div>
        </div>
    </div>
</div>