<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wardrober</title>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link type="text/css" href="../static/main.css">
    <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="http://www.ikea.com/PIAimages/0452603_PE601522_S3.JPG" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="http://www.ikea.com/PIAimages/0452603_PE601522_S3.JPG" type="image/vnd.microsoft.icon"/>

    <script src="http://visjs.org/dist/vis.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
    <script type="text/javascript" src="../static/wardrober.js"></script>
    <script type="text/javascript" src="../static/searchController.js"></script>
    <!-- <script type="text/javascript" src="graphController.js"></script> -->
    <script type="text/javascript" src="../static/communityController.js"></script>
    <script type="text/javascript" src="../static/influentialController.js"></script>
</head>
<body ng-app="wardroberapp">
<nav class="navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Social Network Analysis</a>
    </div>
</nav>
<div ng-view>
    <div ui-view="">
        <div id="wrapper" class=""></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>